.container {
  width: 600px;
  padding-top: 100px;
}

.orders {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 36px;
  margin-bottom: 60px;
}

.board {
  width: 100%;
}

.done {
  color: var(--colors-interface-success)
}