.container {
  padding: 100px 0 0 16px;
  height: 100%;
}

.choices {
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: flex-start;
  max-height: calc(100vh - 576px);
  min-height: 87px;
  overflow-y: scroll;
  scrollbar-color: var(--text-inactive-color) var(--background-element);
  scrollbar-width: thin;
  text-align: center;
}

.choices::-webkit-scrollbar {
  width: 10px;
}

.choices::-webkit-scrollbar-track {
  background-color: var(--background-element);
}

.choices::-webkit-scrollbar-thumb {
  background-color: var(--text-inactive-color);
}

.choice {
  display: flex;
  align-items: center;
  cursor: grab
}

.bottom {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 40px;
  margin-top: 40px;
}

.price {
  display: flex;
  align-items: center;
  gap: 8px;
}