.container {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.ingredient {
  text-align: center;
}

.info {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}