.nav {
  display: flex;
  flex-direction: column;
  max-width: 320px;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: auto;
}

.link {
  height: 64px;
}

.logout {
  height: 64px;
  cursor: pointer;
}

.cansel {
  cursor: pointer;
}