.header {
  background-color: var(--background);
  z-index: 1;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1280px;
  margin: auto;
}

.nav {
  display: flex;
  align-items: center;
  flex-shrink: 0;
}

.logo {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.link {
  display: flex;
  align-items: center;
  gap: 8px;
  color: var(--text-inactive-color);
  flex-shrink: 0;
}

.active {
  color: var(--text-primary-color)
}